@model IEnumerable<GerenciadorTarefas.Models.Tarefa>

@{
    ViewData["Title"] = "Lista de Tarefas";
}

<h1>Listagem</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-secondary">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary">Detalhes</a> |
                <a asp-action="Deletar" asp-route-id="@item.ID" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
